<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/login">
        <a href="/">HOME</a>
        <a href="/patients">PATIENTS</a>
        <a href="/medicine">MEDICINE</a>
        <button type="submit">Log In</button>
        <button type="submit" formaction="/register">Register</button>
    </form>
    <h1>Log In</h1>
    <form action="/login" method="POST">
        <p>Username</p>
        <input type="text" name="username">
        <p>Password</p>
        <input type="password" name="password">
        <br>

        <button type="submit">Log In</button><button type="submit" formaction="/patients" formmethod="GET">Go Back</button>
    </form>

    <% if (query) { %>
        <p> <%= query %> </p>
    <% } %>
</body>
</html>